@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    height: inherit;

}

.primary {
    background-color: #fff;
}

.secondary {
    background-color: #414a5c;
    height: 50px;
    color: #fff;
}

main {
    min-height: calc(100vh - 190px);
    height: auto;
    /*background: rgb(241,241,241);*/
    background-color: #fff;
}

footer {
    background-color: #414a5c;
    height: 80px;
}

.search-form {
    flex: 1 1 auto;
    position: relative;
}

.search-form button {
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
}

.hidden {
    display: none;
}

.search-form {
    margin: 0px 15px;
}

.search-form input[type="text"] {
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    background: #757f96;
    font-size: 13px;
    padding: 7px 20px 7px 30px;
}

.search-form input[type="text"]::-webkit-input-placeholder {
    font-family: Roboto, sans-serif;
    color: #fff;
}

.search-form input[type="text"]::-moz-placeholder {
    font-family: Roboto, sans-serif;
    color: #fff;
}

.search-form input[type="text"]:-moz-placeholder {
    font-family: Roboto, sans-serif;
    color: #fff;
}

.search-form input[type="text"]:focus {
    background: #fff;
}

.search-btn {
    background-color: #757f96;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px 25px 4px 25px;
    right: -1px;
}

.search-btn img {
    margin-bottom: 2px;
    height: 15px;
}

.search-close {

    height: 15px;
    width: 15px;
    right: 70px;
    top: 7px;
    font-size: 10px;
    font-weight: bold;
    background-color: inherit;

}

.search-close span {
    position: relative;
    right: 2px;
}

.search-close:hover {
    color: red;
}

.user-actions {
    margin-left: auto;
}
.user-actions a{
    color:#fff;
}
.user-actions .button-counter{
    display:block;
    position:absolute;
    top:0px;
    right:-3px;
    z-index:2;
    background-color: red;
    height:20px;
    width:20px;
    border-radius: 50px;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    line-height:20px;
    color:#fff;
}

.user-actions svg {
    fill: #fff;
    height: 32px;
    width: 32px;
}

.user-actions .auth svg {
    margin-bottom: 3px;
    height: 27px;
    width: 27px;
}

.user-actions ul {
    display: flex;
    margin: 0px 5px;
}

.user-actions li {
    position:relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 10px;
    height: 50px;
}

.user-actions li:hover {
    background: #757f96;
}
header{
    z-index:15;
    position:relative;
}
header .container {
    align-items: center;
}

.copyright {
    margin: auto;
    color: #bfc6d4;
    font-size: 13px;
}

/*.drop-list {
    display: none;
    width: 250px;
    position: absolute;
    top: 110px;
}*/
.drop-list{
    background-color: #fff;
    display: none;
    transform: translateY(-1px);
    position: absolute;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #0063d2;
    width: 100%;
}
.menu--desktop{
    align-self: stretch;
}
.menu--title:hover+.drop-list,
.drop-list:hover{
    display:block;
}

.menu--title{
    height:100%;
    display:flex;
    align-items:center;
}

/*.drop-list ul {
    padding: 15px 0px;
    background: #fff;
}

.drop-list li {
    padding: 8px 15px;
    font-size: 17px;
}

.drop-list a {
    position: relative;
    display: block;
    width: auto;
}

.drop-list li span {
    color: rgb(36, 36, 36);
}

.drop-list li:hover {
    background: rgba(237, 37, 83, 0.16);
}

.drop-list li:hover span {
    color: rgb(255, 120, 120);
}

.drop-list li:hover span:first-of-type {
    text-decoration: underline;
}

.drop-list .arrow {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 900;
    font-size: 14px;
    color: #c2c2c2;
}*/
.drop-list, .compare-popup{
    background-color: #fff;
    transform: translateY(-1px);
    position: absolute;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #7a7a7a;
    width: 250px;
}
.compare-popup{
    transform: translateY(70px) translateX(950px);
}

.drop-list li, .compare-popup li {
    height: 45px;
    margin: 0px 20px;
    border-bottom: 1px solid #dbdbdb;
}

.drop-list li:last-child, .compare-popup li:last-child {
    border-bottom: none;
}

.drop-list a, .compare-popup a {
    display: block;
    font-size: 14px;
    color: #7a7a7a;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    line-height: 45px;
}

.drop-list a:hover,
.compare-popup a:hover{
    color: #ed2553;
}



.next-slide,
.prev-slide {
    position: absolute;
    top: calc(50% - 25px);
    cursor: pointer;
    padding:10px;
    background: rgba(0,0,0,0.3);
    width:50px;
    height:50px;
    border-radius: 100px;
}

.next-slide {
    right: 20px;
}

.prev-slide {
    left: 20px;
}

.next-slide svg,
.prev-slide svg {
    fill:#fff;
    height: 40px;
    width: 20px;
    transform: translate(7px,-5px);
}

.prev-slide svg {
    transform: rotate(180deg) translate(-3px,5px);
}

main .container {
    flex-wrap: wrap;
}

main .container > div {
    flex-basis: 100%;
}

.main-page-rubric,
.search-page{
    padding: 50px 0px;
    font-family: 'Montserrat', sans-serif;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px 10px;
}

.product-card {
    border-radius: 4px;
    border: 1px solid #ebebeb;
    box-shadow: 5px 5px 13px #ebebeb;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.product-card a {
    color: #000;
}

.product-card img {
    display:block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main-page-rubric h2 {
    font-weight: 600;
    margin-left: 20px;
}

.product-title {
    height:4em;
    margin: 15px 0px 0px 0px;
    font-size: 16px;
}

.product-price {
    font-size: 25px;
    margin: 15px 0px 30px;
    font-weight: bold;
}


.product-card__action {
    display: flex;
    justify-content: space-between;
}

.product-card__action svg {
    width: 25px;
    height: 25px;
}

.product-card__action button {
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
}

/*.product-card__action*/ button.to-cart {
    color: #fff;
    background-color: #ed2553;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    transition: 0.3s ease;
    max-width: 150px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/*.product-card__action*/ button.to-cart:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.to-cart span {
    margin-left: 10px;
    font-size:13px;
    text-transform: uppercase;
    font-weight: 600;
}

.to-cart svg {
    fill: #fff;
}

.to-compare {
    margin-left: auto;
    margin-right: 5px;
}

.to-compare svg,
.to-wishlist svg {
    fill: #7a7a7a;
    width: 30px;
    height: 30px;
}

.to-compare:hover svg,
.to-wishlist:hover svg {
    fill: #ed2553;
    transition: 0.3s ease;
}

.category {
    width: auto;
    display: flex;
    margin-bottom: 20px;
}

.category > div {
    border-radius: 4px;
    border: 1px solid #ebebeb;
    box-shadow: 5px 5px 13px #ebebeb;
}

.category__filters {
    flex: 0 0 250px;
    margin-right: 15px;
    align-self: flex-start;
}

.category__main-content {
    flex: 0 1 100%;
    margin-bottom: 50px;
}
.category__main-content .message {
    margin-left: 50px;
    font-size: 15px;
}
.category__main-content .product-list {
    display: grid;
    grid-gap: 0px;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
}

.category__main-content .product-card {
    box-shadow: none;
    border-radius: 0px;
    padding: 20px;
}

.category__main-content p.product-title{
    height:6em;
}

.category__main-content .product-card .product-price {
    margin-bottom: 20px;
}

.category__main-content .category-heading {
    padding: 30px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__main-content .category-heading h2 {
    font-weight: 500;
}

.category__main-content .category-heading select {
    padding: 5px 10px;
    box-shadow: inset 1px 1px 4px #ebebeb;
    border-radius: 3px;
    outline: none;
}

.filter-itm {
    padding: 15px 10px;
    border-bottom: 1px solid #ebebeb;
}
.filter-itm p {
    margin-left:10px;
}

#range-form {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px;
    align-items: center;
    justify-content: center;
}

#range-form label {
    margin: 10px;
}

#range-form input[type='text'] {
    width: 70px;
    height: 30px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    outline:none;
}
#range-form input.error{
    background-color: rgba(255, 0, 0, 0.27);
    box-shadow: inset 1px 4px 4px rgba(0,0,0,0.12);
    border:1px solid #ff0000;
}

#range-form button,
.review-form button{
    flex-basis: 100%;
    padding:13px 0;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #ed2553;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size:11px;
}
#range-form button{
    margin-top: 15px;
}
#range-form button:disabled{
    background-color: #dbdbdb;
}


.filter-list {
    margin: 15px 10px;
}

.filter-list > div {
    padding: 10px;
    position: relative;
}

.filter-itm-title {
    margin-left: 30px;
    vertical-align: middle;
}

.filter-itm input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    height: 20px;
    width: 20px;
}

.checkmark {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #ebebeb;
    border-radius: 2px;
}

.checkmark::after {
    content: "";
    width: 7px;
    height: 10px;
    position: absolute;
    top: 4px;
    left: 7px;
    border: solid #fff;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
    display: none;
}

.filter-itm input:checked ~ .checkmark {
    background-color: #ed2553;
}

.filter-itm input:checked ~ .checkmark::after {
    display: block;
}

.filter-footer {
    height: 70px;
}

.pagination{
    padding:35px 0px;
    display:flex;
    justify-content: center;
}
.pagination ul{
    display:flex;
    justify-content: center;
}
.pagination li:hover{
    background-color: rgba(237, 37, 83, 0.16);
}
.pagination li.active{
    background-color: #ed2553;
}
.pagination ul li .active:hover{
    background-color: #ed2553;
}
.pagination li.active a{
    color:#fff;
}
.pagination a{
    color:#000;
    font-weight:bold;
    padding:6px 12px;
    display:block;
}

main .container div.slider{
    margin:auto;
    flex-basis:auto;
    width:1000px;
    padding:0;
    position:relative;
    /*overflow: hidden;*/
}
.slider-wrapper{
    display:flex;

}
.slider-wrapper img{
    border:1px solid #ebebeb;
    border-top:none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:none;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.hierarchy-categories ul{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding:20px 15px;
}

.hierarchy-categories li:not(:first-child):after{
    content:"-";
    padding:0px 10px;
}
.hierarchy-categories li:first-child{
    pointer-events: none;
}
.hierarchy-categories li a{
    color: #7a7a7a;
    font-size:14px;
}
.hierarchy-categories li a:hover{
    text-decoration: underline;
}
.product-about {
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
}

.product-images {
    flex-basis:50%;
}

.product-images img {
    display:block;
    margin:auto;
    width: auto;
}

.product-info {
    padding: 60px 50px;
    flex-basis: 50%;
}


.product-info h2 {
    font-size: 17px;
    flex-basis: 100%;
    height: 3em;
    word-wrap:break-word;
}

.product-info .rating-block {
    margin: 7px 0px 3px;
}

.product-rating {
    display: flex;
}

.rating-block {
    display: flex;
    width: 80px;
}

.rating {
    padding: 0px 1px;
}

.rating-block svg {
    height: 14px;
    width: 14px;
}

.rating .active {
    /*fill: rgb(232, 217, 31);*/
    fill:#f7cc24;
}

.rating .inactive {
    fill: #dbdbdb;
}

.count-reviews {
    margin: auto 0px auto 10px;
    font-size: 13px;
}

.available {
    font-size: 13px;
    padding: 8px 0px 15px 0px;
    border-bottom: 1px solid #dbdbdb;
    font-weight: bold;
}
div.available .active{
    color: #009700;
}
div.available .inactive {
    color:#dbdbdb;
}

.price-block {
    margin-top: 40px;
    margin-left: 10px;
}

.price-block span {
    font-weight: bold;
}

.price-block span:first-child {
    margin-left: 50px;
}

.product-info .product-card__action {
    justify-content: flex-start;
    margin-top: 30px;
}

.product-info .product-card__action button.to-cart {
    height: 45px;
}

.product-info .product-card__action button.to-compare {
    margin-left: 0px;
}

.product-details {
    margin: 80px 0px;
    flex-basis: 100%;
}

.product-details__action {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #dbdbdb;
}

.product-details__action li {
    padding: 15px;
}

.product-details__action li.active {
    border-top: 3px solid #000;
}

.product-details__action li a {
    color: #000;
}

.product-details__description,
.product-details__reviews{
    padding: 50px;
}

.row-description {
    display: flex;
    flex-basis: 100%;
}

.table-characteristic {
    width: 700px;
    margin: 20px;
}

.row-description{
    display:flex;
    align-items: flex-end;
}
.delimeter {
    flex-basis: 100%;
    border-bottom: 2px dotted #d2d2d2;
    flex-grow: 1;
}

.row-description > div {
    padding: 20px 10px 0px 10px;
}



.delete{
    border:none;
    background-color: inherit;
    cursor:pointer;
    margin-left: auto;
}
.delete svg{
    width:20px;
    height:20px;
    fill:#7a7a7a;
}
.delete svg:hover{
    fill:#ed2553;
}

.cart-section,
.compare-section{
    margin:100px 0px;
}
.cart-section>span:first-child,
.compare-section>span:first-child{
    font-size:20px;
}
.compare-section>span:first-child{
    margin-left: 20px;
}
.cart-section>span:first-child{
    margin-left: 50px;
}
.clear-cart,.clear-compare,.link-dashed{
    color: #63a8ff;
    border-bottom:1px dashed #63a8ff;
}
.clear-cart{
    float:right;
}
.clear-cart:hover,
.clear-compare:hover,
.link-dashed:hover{
    cursor:pointer;
}
table{
    width:100%;
    border-collapse: collapse;
}
.cart-section table{
    margin:20px;
}
table tbody td{
    height:250px;
    padding:20px;
    text-align:center;
}
table  td {
    border-bottom:1px solid #dbdbdb;
}
table thead td{
    padding:15px 40px;
    height:0px;
}
table img {
    height: 100%;
}
table td>span{
    width:10em;
}


.total{
    float:right;
    margin:20px;
    font-size:17px;
}
.total span{
    padding:0px 10px;
}
.total p{
    text-align:center;
}
.total button{
    margin-top: 20px;
    padding:13px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ed2553;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.total button a{
    color: #fff;
}

.quantity{
    position:relative;
    display: inline-block;
}
.quantity input,
.quantity button{
    outline:none;
}
.quantity input[type='text']{
    border-radius:25px;
    height:45px;
    padding:0px 40px;
    width:170px;
    border:1px solid #e7e7e7;
    text-align:center;
}
.input-control{
    width:40px;
    height:45px;
    font-size:20px;
    position:absolute;
    background-color: inherit;
    border:none;
    color:#666666;
    cursor:pointer;
}
#plus{
    right:0px;
}
#minus span{
    position:absolute;
    top:7px;
    left: 15px;
}
.quantity-section{
    margin-top: 20px;
    margin-left: 7px;
}
.quantity-section span{
    margin-right: 15px;
}
.order-message{
    /*margin:50px;*/
}
.order-message a,
.order-message p{
    margin-top: 10px;
    margin-left: 5px
}
.order-message p{
    margin-bottom: 5px;;
}

.cart-message,
.compare-message{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}
.cart-message img{
    width:350px;
    margin-left: 55px;
}
.compare-message>div,
.cart-message>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-message h3,
.cart-message a,
.compare-message a{
    text-align:center;
    margin-top: 10px;
}
.cart-message a,
.order-message a,
.page-not-found a,
.compare-message a{
    color: #63a8ff;
}
main div .login-page,
main div .register-page
{
    text-align: center;
    flex-basis:auto;
    margin:120px auto;
}

.login-page form,
.register-page form{
    margin:auto;
    margin-top: 20px;
    width:350px;
    display:flex;
    flex-direction: column;
}
.register-form input,
.order-form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    /*background: #f2f2f2;*/
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin: 0 0 20px;
    padding: 13px;
    font-size: 12px;
}
.register-form button,
.order-form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ed2553;
    border: 0;
    border-radius: 4px;
    /*padding: 15px;*/
    margin-top: 8px;
    padding:13px 30px;
    width:auto;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.register-form .message {
    margin: 20px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.register-form .message a {
    color: #63a8ff;
    text-decoration: none;
}
.login-page>span,
.register-page>span{
    font-size:17px;
}
.register-page .errors,
.login-page .errors,
.order-page .errors{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.register-page .errors li,
.login-page .errors li,
.order-page .errors li{
    list-style-type: circle;
    margin: 3px 25px;
    font-size:13px;
}

.account-page{
    display: flex;
}
.account-main-section{
    width:auto;
    padding:60px 30px 60px 60px;
}
.account-main-section h3{
    margin-bottom: 50px;
}
.account-main-section table{
    font-size: 12px;
}
.account-main-section table thead td{
    text-align: center;
}
.account-main-section table td{
    height:auto;
    padding:10px 15px;
}
.account-main-section table td a{
    width:40em;
    display:block;
    margin:3px 0;
    color: #000;
}

.sidebar{
    width:230px;
    min-height: 100vh;
    height: auto;
    border-right:2px solid rgb(240,240,240);
}
.sidebar ul{
    margin:0;
    margin-top: 100px;
}
.sidebar ul li a{
    padding:7px 20px;
    display:flex;
    align-items: center;
    color:rgb(180,180,180);
}
.sidebar ul li a.active{
    position:relative;
    left:2px;
    color:rgb(37,37,37);
    border-right: 2px solid #ed2553;
}
.sidebar ul li a.active svg{
    margin-left: -2px;
}

.sidebar ul li a.active>svg{
    fill:rgb(37,37,37);
}
.sidebar ul li a span{
    margin-left: 7px;
}
.sidebar ul li svg{
    fill:rgb(180,180,180);
    width:20px;
    height:20px;
}
.order-page{
    display:flex;
    flex-wrap:wrap;
    margin: 100px;
}
.order-page h3{
    flex-basis:100%;
    margin-bottom: 25px;
    margin-left: 5px;
}
.order-page .order-form{
    flex-basis:500px;
    padding-right: 100px;
}
.order-form button{
    margin-top: 8px;
    padding:13px 30px;
    width:auto;
}
.order-info{
    border-left:2px solid rgb(240,240,240);
    flex-basis: auto;
    padding-left: 30px;
}
.order-info li{
    display:flex;
    padding:10px;
}
.order-info ul{
    padding:0 20px;
}
.order-info li>div{
    font-size: 14px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-left: 8px;
}
.order-info li>div>a{
    white-space: pre-wrap;
    width:10em;
    margin-top: 8px;
    flex-basis:100%;
}
.order-info li>div>span{
    margin-bottom: 18px;
    align-self:flex-end;
}
.order-info img{
    height:80px;
}
.order-info .total{
    float:none;
    margin:0;
    border-top:2px solid rgb(240,240,240);
    padding:18px;
    display:flex;
    width:100%;
    justify-content: space-between;
}
.page-not-found{
    margin-top: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.page-not-found span{
    font-size:150px;
}
.page-not-found p{
    font-size:25px;
    margin-bottom: 10px;
}

.compare-section table tbody td{
    height:auto;
}

.compare-section table thead td:not(:first-child) a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compare-section table thead td:not(:first-child) span{
    width:15em;
}
.compare-section img{
    height:200px;
}
.compare-section table td:first-child {
    text-align:left;
}
.compare-section table td {
    text-align: center;
}
.compare-section table thead td:first-child{
    padding:20px;
    font-size:14px;
}


.select-category ul{
    width:150px;
    margin:15px 0 20px 0;
}
.select-category li{
    margin-top: 5px;
}

.select-category a{
    font-weight: 600;
    color:#000;
    display:block;
    padding:6px 3px;
    font-size: 12px;
    background-color: #ebebeb;
    text-align: center;
    border-radius: 7px;
}
.select-category a.current{
    color:#fff;
    background-color: #ed2553;
}

.compare-section table thead img{
    margin:15px 0;
}
.switch-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}
a.btn-switch{
    color:#000;
    margin-top: 3px;
    font-weight: 600;
    padding:5px 10px;
}
a.btn-switch:hover{
    background-color: #dbdbdb;
    border-radius: 7px;
}
.compare-section .delete{
    float:right;
}
.alert-info{
    padding:20px 55px;
    color: #0c5460;
    background-color: #d1ecf1;
    border:1px solid #bee5eb;
    border-radius: .25rem;
    margin:auto;
}
.reviews-section{
    width:100%;
    border:1px solid #dbdbdb;
    background-color: #fff;
}
.reviews-section__body{
    /*padding:0px 25px 20px 25px;*/
    /*border-bottom: 1px solid #dbdbdb;*/
}

.review-block,
.reviews-section__header{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #dbdbdb;
    padding:25px 35px;
}
.review-block{
    position: relative;
}
.reviews-section__header>div{
    display:flex;
    margin:15px 0 10px 0;
}
.reviews-section__header .rating_block{
    margin-top: 1px;
    margin-left: 5px;
}
.reviews-section__header .rating_block svg{
    width:15px;
    height:15px;
}
.review-block:last-child{
    border-bottom: none;
}
.rating_block{
    width:75px;
}
.rating_block input{
    display:none;
}
.rating_block label{
    cursor:pointer;
    float:right;
}
.rating_block svg{
    width:14px;
    height:14px;
    fill:#dbdbdb;
}
.rating-action{
    margin:15px 0;
}

.rating_block label:hover svg,
.rating_block label:hover~label svg,
.rating_block input[type="radio"]:checked~label>svg{
    fill:#f7cc24;
}
.review-form{
    display: flex;
    flex-direction: column;
    width:300px;
    margin-left: 4px;
}
.review-form textarea{
    font-size:14px;
    padding:5px 10px;
    font-family: inherit;
    resize:none;
    margin-bottom: 15px;
}
.review-form textarea:focus{
    outline:none;
}
.review-form button{
    border:1px solid #ed2553;
    border-radius: 3px;
}
.review-block .username{
    font-weight: 600;
}
.review-block .rating-block{
    margin:3px 0 12px 0;
}
.review-block .rating-block svg{
    width:13px;
    height:13px;
}
.review-block .review-text{
    width:40em;
}
.review-block span{
    position:absolute;
    right:35px;
}
.show-more{
    border-top:1px solid #ebebeb;
    text-align: center;
    padding:15px;
}
.reviews-section__header .errors{
    font-size: 10px;
    color:red;
}
.reviews-section__header .errors li{
    margin-top: 3px;
}
.reviews-section__header div:first-child{
    display:flex;
}
.reviews-section__header div:first-child a{
    margin-left: 15px;
}
.carousel-indicators li{
    width:50px;
}