/* -------PC------*/
@media screen and (min-width:1025px){
   
    .primary{
        height:60px;
        font-weight: bold;
        font-size:15px;
    }
    .primary a{
        color:rgba(0, 0, 0, 0.767);
    }
    .logo{
        margin-right: 15px;
        margin-left: 15px;
    }
    .logo img{
        margin-top:5px;
    }
    .phones
    {
        margin-left:auto;
        margin-right: 7px;
    }
    
    .languages{
        margin:0px 14px;
    }
    .languages ul,.phones a{
        display: flex;
    }
    .languages ul>li{

        padding:0px 3px;
    }
    .languages ul li a{
        color:#a1a1a1;
    }
    .languages ul li a.active{
        color:rgba(0, 0, 0, 0.767);
    }

    .phones div,span,ul{
        margin:0px 4px;
    }

    .menu--mobile{
        display: none;
    }
    .menu--title{
        width:250px;
        font-size:18px;
        padding-left:25px;
        cursor:pointer;
    }
    .user-actions li:last-child:hover{
        background: #414a5c;
    }
   .auth {
      display: flex;
      align-items:center;
      /*border-left:2px solid #fff;
      padding-left:20px;*/
   }
   .auth span{
       padding-left:3px;
       font-weight: bold;
       font-size:14px;
   }
   .icon-search{
       position: absolute;
       top:5px;
       left:8px;
       font-size:14px;
       padding-right:3px;
   }
   .phones img{
       height:15px;
   }
   .icon-angle-down{
       position:relative;
       top:3px;
   }
    /*.main-page-rubric .product-card{
        flex-basis:20%;
    }
    .catalog__main-content .product-card{
        flex-basis:25%;
    }*/

   
}
@media screen and (max-width:1024px){
    .menu--desktop,
    .primary,
    .menu--title{
        display:none;
    }
    footer{
        height: 50px;
    }

    .menu--mobile{
        display:flex;
        cursor: pointer;
    }
    .hamburger{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        margin: 0px 15px;
    }
    .hamburger .line{
        margin-top: auto;
        margin-bottom: auto;
        width:25px;
        height:3px;
        background-color: #fff;
        
    }
    .hamburger .line::after,    
    .hamburger .line::before
    {
        content:"";
        display:block;
        position: relative;
        width:inherit;
        height:3px;
        background-color: #fff;
    }
    .hamburger .line::before{
        bottom:6px;
    }
    .hamburger .line::after{
        top:3px;
    }
    .user-actions li{
        display:none;
    }
    .user-actions li:nth-child(odd){
        display:flex;
    }
    .slider-section{
        display:flex;
        flex-basis:100%;
        padding:20px;
    }
    .product-list{
        grid-template-columns:repeat(3,1fr);
        grid-gap:10px;
    }
    .auth span{
        display:none;
    }

}

@media screen and (max-width:768px){
    .product-list{
        grid-template-columns:repeat(2,1fr);
        grid-gap:10px;
        padding:20px 10px;
    }

}